.BuildControl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0; 
}

.BuildControlButton{
    display: block;
    font: inherit;
    padding: 5px;
    margin: 6px; 
    width: 80px;
    border: 1px solid rgb(72, 106, 241);
    outline: none;
    cursor: pointer;
}